//colors basic
$first-fixed-base-color: #FAF8FF;
$second-fixed-base-color: #3B3B3B;

//colors personalized
$custom-fixed-first-color: #000061;
$custom-fixed-second-color: #00614B;


//colors icons area(--skills--)
$color-html: #f16529;
$color-css: #57a7e4;
$color-js: #efd81d;
$color-sass: #cd6799;
$color-bs: #7952b3;

//font-size variables
$font-1r: 1rem;
$font-1_5r: 1.5rem;
$font-2r: 2rem;
$font-2_5r: 2.5rem;
$font-3r: 3rem;
$font-3_5r: 3.5rem;
$font-4r: 4rem;

//font-weight *normal *large *extra-large
$weight-n: 500;  
$weight-g: 600;
$weight-gg: 700;

//border-radius *small *normal
$radius-s: 0.8rem;
$radius-n: 1rem;









